<!DOCTYPE html>
<head>
 
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %> 
  
 
</head>
<style>
 body {
    background-image: url("http://wallpaperfast.com/wp-content/uploads/2013/05/Nice-blue-background-Desktop-Wallpaper.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
li {
    display: inline;
}
</style>
<header class="navbar navbar-fixed-top navbar-inverse">
<div class ="navbar-inner">
<div class ="container">
  
    <ul class="nav pull-right">
        <li><%= link_to "Home", "/pages/home"  %></li>
        <li><%= link_to "Help", "/pages/help"  %></li>
        <li><%= link_to "Sign in", "#" %></li>
    </ul>
</nav>
</div>
</div>
</header> 
<div class ="container"><%= yield %><%= render 'layouts/footer'  %>
</div>


</body>
</html>
  



